<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="canonical" href="https://appseed.us/admin-dashboards/django-dashboard-argon">

  <title>
    {% block title %} Admin Panel {% endblock %}
  </title>

  <!-- Favicon -->
  <link rel="icon" href="/static/assets/img/theme/logopro.png" type="image/png">

  <!-- Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">

  <!-- Core CSS -->
  <link rel="stylesheet" href="/static/assets/css/argon.css?v=1.2.0" type="text/css">
  <link rel="stylesheet" href="/static/assets/css/components/sidenav.css">
  <link rel="stylesheet" href="/static/assets/css/components/topbar.css">

  <!-- Icons -->
  <link rel="stylesheet" href="/static/assets/vendor/nucleo/css/nucleo.css" type="text/css">
  <link rel="stylesheet" href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

  {% block stylesheets %}{% endblock stylesheets %}
</head>

<body>

  {% include "includes/sidenav.html" %}

  <div class="main-content" id="panel">
    {% include "includes/navigation.html" %}
    {% block content %}{% endblock content %}
  </div>

  <!-- Dependencias base -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>

  <!-- Scripts globales del proyecto -->
  {% include "includes/scripts.html" %}

  <!-- Argon -->
  <script src="/static/assets/js/argon.js?v=1.2.0"></script>

  <!-- Scripts específicos de cada página -->
  {% block javascripts %}{% endblock javascripts %}

</body>

</html>