{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}Autenticación{% endblock title %}</title>

  <link rel="icon" href="{% static 'assets/img/theme/logopro.png' %}" type="image/png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
  <link rel="stylesheet" href="{% static 'assets/vendor/nucleo/css/nucleo.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'assets/vendor/@fortawesome/fontawesome-free/css/all.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'assets/css/argon.css' %}" type="text/css">

  {% block stylesheets %}{% endblock stylesheets %}
</head>

<body class="bg-default auth-page-body">
  {% block content %}{% endblock content %}

  {% block javascripts %}{% endblock javascripts %}
</body>
</html>